@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

@import "tailwindcss";

@theme {
  --font-sans: "Inter", sans-serif;
  --color-primary: oklab(87.629% -0.20217 0.10492);
  --color-secondary: oklab(19.469% 0.03357 -0.05846);
  --color-accent: oklab(33.698% 0.05579 -0.09671);
  --color-text-p: oklab(100% 0 -0.00011 / 0.6);
  --background-image-gradient: linear-gradient(30deg, #f7e93f 16.53%, #fb09b4 49.82%, #9100f8 81.65%);
  --text-8xl: 6rem;
  --text-8xl--line-height: 1;
  --default-font-family: var(--font-sans);
}

@layer utilities {
  body {
    @apply bg-secondary;
  }
  span {
    display: inline-block;
  }
  .container {
    width: 100%;
    @media (width >= 40rem) {
      max-width: 40rem;
    }
    @media (width >= 48rem) {
      max-width: 48rem;
    }
    @media (width >= 64rem) {
      max-width: 64rem;
    }
    @media (width >= 80rem) {
      max-width: 80rem;
    }
    @media (width >= 96rem) {
      max-width: 1230px;
    }
  }
}
@layer components {
  .tw-btn {
    @apply text-base inline-block font-semibold text-white bg-gradient py-2.5 px-4.5 rounded-full;

    span {
      @apply text-sm ml-1;
    }
  }
}
